/* GENERAL */
html, body{
    height: 100%;
}
body{
    font-family: 'Raleway', sans-serif;    
    margin: 0; 
    padding: 0;
}
img{
    max-width: 100%;
}
.row{
    margin: 0;
    padding: 0;
}
.container{
    padding: 0;
}
.button{
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #fff;
    background-color: #e34332;
    border: 1px solid rgba(255, 255, 255, 0.5);
    display: inline-block;
    padding: 10px 20px;
    transition: all 0.2s ease-in 0s;
}
.button:hover{
    background: #ee9480;
    color: #fff;
    text-decoration: none;
}
.btn-wall{
    opacity: 0;
}
.carousel-indicators li{
    border: 1px solid #e34332;
}
.carousel-indicators li.active{
    background:#e34332;
}

.carousel-control.left, .carousel-control.right {
    background-image: none;
    color: #e34332;
}

/* MENU */
.navbar{
    background: #fff;
    font-size: 12px;
    letter-spacing: 4px;
}
.navbar-nav li{
    padding-left:20px;
    padding-right:20px;
}
.navbar li.home{
    font-family: 'Shadows Into Light', sans-serif;
    font-size: 40px;
}
.navbar-nav li.home a:hover, .navbar-nav li.home.active a{
    color: #000 !important;
}
.navbar .navbar-nav{
    display: inline-block;
    float: none;
    vertical-align: top;
}
.navbar .navbar-collapse{
    text-align: center;
}
.navbar li a{
    color: #0a0a0a !important;
}
.navbar-nav li a:hover, .navbar-nav li.active a{
    color: #e34332 !important;
    background-color: #fff !important;
}
.navbar-default .navbar-toggle{
    border-style: none;
}
.icon-bar{
    background-color: #0a0a0a !important;
}
/* HOME */
#home{
    background-size: cover;
    height: 100%;
    text-align: center;
}
.logo{
    height: 90%;
    padding-top: 80px;
}
@media screen and (max-width: 1024px) {
  .logo{
    width: 385px;
    margin: 0 auto;  
    }
}
#home a img{
    width: 55px;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    transition: 0.2s;
}
#home a img:hover{
    width: 60px;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    transition: 0.2s; 
}
#presentation{
    background: #fff;
    padding-top: 70px;
}
#presentation h1{
    font-family: 'Shadows Into Light', sans-serif;
    font-size: 22px;
    color: #000;
}
#presentation h2{
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    margin-bottom: 20px;
}
#presentation .paragraphe{
    left: 80px;
    opacity: 0;
}
#presentation p{
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    color: #000;
}
.photo{
    text-align: center;
}
.paragraphe{
    width: 400px;
    word-wrap: break-word;
    text-align: justify;
    margin: 0 auto;
}
.orange{
    color: #e34332;
}
/* WALL */
#wall{
    background-size: cover;
    height: 100%;
    min-height: 915px;
}
.white-bloc{
    background-color: #fff;
    height: 140px;    
}
@media screen and (max-width: 1024px) {
  .white-bloc{
    height: 120px;  
    }
}
.wall-info{
    text-align: center;
    width: 350px;
    max-height: 100%;
    margin-left: 350px;
}
@media screen and (max-width: 1024px) {
  .wall-info{
    margin: 0 auto;
  }
}
#wall .title{
    height: 138px;
    width: 458px;
    margin-top: -45px;
}
@media screen and (max-width: 1024px) {
  #wall .title{
    height: 124px;
    width: 410px;
    margin-top: -40px;
  }
}
.wall-block{
    margin-top: 30px;
    word-wrap: break-word;
    background:rgba(255, 255, 255, 0.5);
    outline: 15px solid rgba(255, 255, 255, 0.5);    
}
.wall-block a{
    margin-top: 30px;
    margin-bottom: 15px;
    cursor: pointer;    
}
.wall-block p{
    text-align: left;
}
/* MODEL */
#model{ 
    background: url('../images/model-bg.jpg')top center no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    height: 100%;
    min-height: 925px;
}
#model .title{
    padding-top: 90px;
    text-align: center;
}
.model-exemple{
    text-align: center;
    padding-top: 10px;
}
.exemple-photo{
    position: relative;
    top: -50px;
    opacity: 0;
}
.exemple-photo img{
    padding: 10px;
    cursor: pointer;
    -webkit-transition: 0.7s;
    -moz-transition: 0.7s;
    transition: 0.7s;
}
.exemple-photo img:hover{
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -webkit-transition: 0.7s;
    -moz-transition: 0.7s;
    transition: 0.7s;
}
.model-exemple a{
    margin-top: 20px;
    cursor: pointer;
}
@media screen and (max-width: 1024px) {
  #model{
    background: none;
  }
}
/* Indicators active image style */
.carousel .carousel-indicators .active img {
    border: 2px solid #e34332;
    opacity: 0.5;
}
/* PORTRAITS */
#portraits{
    background: url('../images/portraits.jpg')top center no-repeat;
    height: 100%;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}
@media screen and (max-width: 1024px) {
  #portraits .background{
    background: url('../images/portraits-1024.jpg')top center no-repeat;
  }
}
#portraits .title{
    height: 85%;
    padding-top: 100px;
    padding-left: 300px;
}
@media screen and (max-width: 1024px) {
  #portraits .title{
    height: 85%;
    width: 410px;
    padding-top: 90px;
    padding-left: 40px;
    padding-right: 0;
  }
}
#portraits div.btn-portraits{
    text-align: center;   
    cursor: pointer;
}
/* CONTACT */
#contact{
    max-height: fit-content;
    padding-bottom: 80px;
}
#contact .container{
    max-height: 50% !important;
}
#contact .row{
    margin-left: auto;
    margin-right: auto;
}
#contact .title{
    text-align: center;
    margin-bottom: 60px;
    padding-top: 90px;
}
#contact .heading h2{
    text-transform: uppercase;
    font-size: 40px;
    color: #fff;
    margin-top: 90px;
}
#contact-form{
    font-size: 16px;
    background: none;
}
#contact label{
    font-weight: normal;
    color: #fff;
}
#contact .orange{
    color: #e34332;
}
#contact input.form-control{
    height: 35px;
    font-size: 16px;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0.5);
}
#contact input:focus {
    box-shadow: unset;
}
#contact textarea:focus {
    box-shadow: unset;
}
#contact textarea.form-control{
    font-size: 16px;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0.5);
    min-width: 100%;
    max-width: 100%;
    min-height: 150px;
    max-height: 150px;
}
#contact .comment{
    color: #e34332;
    font-style: italic;
    font-size: 12px;
    height: 18px;
}
#contact-form input[type=submit]{
    margin: 20px auto 0px;
    display: block;
}
#contact .button1{
    width: 100%;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #fff;
    background-color: #e34332;
    border: 1px solid rgba(255, 255, 255, 0.5);
    display: inline-block;
    padding: 10px 20px;
    transition: all 0.2s ease-in 0s;
}
#contact .button1:hover{
    background: #ee9480;
    border: 1px solid rgba(255, 255, 255, 0.5);
    transition: all 0.3s ease-in 0s;
}
#contact .thank-you{
    text-align: center;
    margin-top: 15px;
    font-weight: bold;
    font-size: 22px;
}
/* FOOTER */
footer{
    background-color: #fff;
    padding: 20px 0px 40px;
    padding-top: 40px;
}
footer a img{
    width: 55px;
}
footer a{
    font-weight: bold;
    color: rgba(0, 0, 0, 0.8);
}
footer a:visited{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.5);
}
footer a:link{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.5);
}
footer a:hover{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.5);
}
footer a:active{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.5);
}
footer .copyright{
    margin-top: 30px;
    font-size: 10px;
    color: rgba(0, 0, 0, 0.8);
}
/* 320 */
@media only screen 
and (min-width : 320px) 
and (max-width : 568px)
and (orientation : portrait) {
    #home{
        background: url('../images/remy01-568.jpg')top center no-repeat;
        background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-attachment: scroll;
        height: 100%;
    }
}
@media only screen 
and (min-width : 569px) 
and (max-width : 1024px)
and (orientation : portrait) {
    #home{
        background: url('../images/remy01-1024.jpg')top center no-repeat fixed;
        background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-attachment: fixed;
        height: 100%;
    }
}
@media only screen 
and (min-width : 320px) 
and (max-width : 568px)
and (orientation : portrait) {
    #wall{
        background: url('../images/remy02-568.jpg')top right no-repeat;
        background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-attachment: scroll;
        height: 100%;
        min-height: 790px;
    }
}
@media only screen 
and (min-width : 569px) 
and (max-width : 1024px)
and (orientation : portrait) {
    #wall{
        background: url('../images/remy02-1024.jpg')top right no-repeat fixed;
        background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-attachment: fixed;
        height: 100%;
    }
}
@media only screen 
and (min-width : 320px) 
and (max-width : 568px) {
  .white-bloc{
    height: 90px;  
    }
}
@media only screen 
and (min-width : 320px) 
and (max-width : 568px) {
    .wall-info{
        margin:0 auto;
        width: 280px;
    }
}
@media only screen 
and (min-width : 320px) 
and (max-width : 568px) {
    #wall .title{
        height: 72px;
        width: 240px;
        margin-top: -23px;
        margin-left: auto;
        margin-right: auto;
    }
}
@media only screen 
and (min-width : 320px) 
and (max-width : 568px) {
    .wall-block{
        width: 280px;
        height: fit-content;
        margin-top: 30px;
        word-wrap: break-word;
        background:rgba(255, 255, 255, 0.5);
        outline: 15px solid rgba(255, 255, 255, 0.5);    
    }
}
@media only screen 
and (min-width : 320px) 
and (max-width : 568px) {
  .logo{
    height: 85%;
    width: 280px;
    margin: 0 auto;  
    }
}
@media only screen 
and (min-width : 320px) 
and (max-width : 568px) {
    .paragraphe{
        width: 280px;
        word-wrap: break-word;
        text-align: justify;
        margin: 0 auto;
    }
}
@media only screen 
and (min-width : 320px) 
and (max-width : 568px) {
    #model .title{
        width: 240px;
        margin: 0 auto;
        padding-top: 90px;
        text-align: center;
    }
}
@media only screen 
and (min-width : 320px) 
and (max-width : 568px)
and (orientation : portrait) {
    #model{
        background-color: #fff;
        background-size: cover;
        height: 100%;
        min-height: 1450px;
    }
}
@media only screen 
and (min-width : 320px) 
and (max-width : 568px) {
  #portraits .title{
    height: 85%;
    width: 240px;
    margin: 0 auto;
    padding-top: 80px;
    padding-left: 0;
    padding-right: 0;
  }
}
/* 960 */
/* 1024 */